In [45]:
## Python Class Note
## Lecture 1

In [46]:
# \n : start a newline; or a black line
# \\: insert a backlash
# \': insert a single quote character
# \": insert a double quote character
print('Wel\\come\nto\n\nZixi\'s Python')

Wel\come
to

Zixi's Python

In [6]:
# \ : line continuation character, and
#will not start a new line on the output
print('this is a longer string, so we\
split it onver two lines')

this is a longer string, so wesplit it onver two lines

In [9]:
# int(): Return an integer object constructed from a number or string x
# Note that float nnot all float can be precisely represented as a floating point number
# e.g: 2.5 = 2.49999999999999990001, when we around 2.5 in python, we get 2 (instead of 3)
print('Truncate 5.2; 5.6; 2.5 :',int(5.2),'and',int(5.6), 'and', int(2.5))

Truncate 5.2; 5.6; 2.5 : 5 and 5 and 2

In [14]:
# / : always return float 
#// : return the largest value that is not greater thant the real result
print('7/4 =', 7/4 )
print('-13/4 =',-13/4)
print('-13//4 =',-13//4)

7/4 = 1.75
-13/4 = -3.25
-13//4 = -4

In [49]:
# Triple Quote: delimited by ''' or """, recommended : """
# Applications" Multiline strings, string containing single or double quotes; docstrings

In [50]:
# No need to worry about the escape sequence(/), or using '', "", in the string
print("""Display "hi", and 'bye' in the quotes """)

Display "hi", and 'bye' in the quotes

In [52]:
# Only triple quotes can span strings as follow:
tripe_quoted_string="""This is a triple-quoted
string that spans two lines"""
print(tripe_quoted_string)

This is a triple-quoted
string that spans two lines

In [59]:
# 3 spaces on the 2nd line showed
print("""This is a lengthy
  multiline string containing 
a few lines \
of text""")

This is a lengthy
  multiline string containing
a few lines of text

In [65]:
string = """This is a lengthy
  multiline string containing 
a few lines \
of text"""

In [68]:
# After lengthy, we have \n
# The line continuation character(on the 3rd line) did not show above, but shows here. 
string

'This is a lengthy\n  multiline string containing \na few lines of text'

In [69]:
# A conclusion: print(string) 会保留输入时的格式，加入要改变格式，就需要用 \  这些符号
# 而直接不用print，像上个box里那样。就会整个做一行输出，因此 \n 这些编辑格式的语法就会也被打印出来

In [2]:
# input function always return a string
v1 = input('Enter a number: ')
v2 = input('Enter a number: ')
v1+v2

Enter a number: 3
Enter a number: 4

'34'

In [3]:
x = 3
1 <= x <= 5 # return true or false

True

In [4]:
x = 10
1 <= x <= 5

False

In [5]:
# expotenation operation: from left to right
2**3**2

512

In [15]:
# Object does not have a variable referred to it, it is called garbage object, may not be found
# in the future.